* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
#smchuncai {
    position: fixed;
    z-index: 999;
    top: 100px;
    left: 200px;
    display: block;
}

#smchuncai .smchuncai-call-doll {
    position: fixed;
    z-index: 999;
    min-height: 1em;
    bottom: 20px;
    right: 15px;
    padding: 0.785714em 1.5em;
    box-shadow: 0 0 0 2px #1678C2 inset !important;
    border: medium none;
    border-radius: 0.285714rem;
    background: #ffffff none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    color: #1678C2;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
    font-family: Microsoft YaHei;
    line-height: 1em;
    vertical-align: baseline;
    text-align: center;
    text-decoration: none;
    text-shadow: none !important;
    text-transform: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
}

#smchuncai .smchuncai-call-doll:hover {
    background: #1678C2 none repeat scroll 0 0;
    color: #ffffff;
}

#smchuncai .smchuncai-speak {
    position: relative;
    float: left;
    margin: 30px 0 0 0;
    width: 200px;
    color: #ffffff;
}

#smchuncai .smchuncai-speak-contain {
    position: relative;
    float: left;
    padding: 5px;
    width: 80%;
    min-height: 50px;
    border: 0;
    border-radius: 5px;
    background: #1678C2;
}

#smchuncai .smchuncai-speak-from {
    position: relative;
    float: left;
    margin: 5px 0 0 0;
    width: 0;
    height: 0;
    border-left: 13px solid #1678C2;
    border-bottom: 13px solid transparent;
}

#smchuncai .smchuncai-img-contain img {
    float: left;
}

#smchuncai .smchuncai-img-contain {
    float: left;
}

.smchuncai-speak-contain-menu {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-size: small;
}

.smchuncai-speak-contain-menu ul {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.smchuncai-speak-contain-menu li {
    position: relative;
    padding: 3px;
    cursor: pointer;
    float: left;
    color: #ffffff;
}

.smchuncai-speak-contain-menu li:hover {
    color: #adadad;
}

.smchuncai-speak-contain-show-button {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    float: right;
    clear: right;
    text-align: center;
    font-size: small;
}

.smchuncai-speak-contain-show-button p {
    cursor: pointer;
    padding: 5px;
    color: white;
}

.smchuncai-speak-contain-show-button p:hover {
    background: #ffffff;
    color: #1678C2;
}